body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slide:nth-child(1) {
    opacity: 1; /* Show the first slide initially */
}
